<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer class="pt-5">
  <div class="container">
    
    <div class="pb-5">
      <div class="row g-2 g-lg-4 align-items-center">
        <div class="col-lg-6 text-center text-lg-start d-flex align-items-center">
          <p class="mb-0 copyright-text content mr-2">&copy;2024 Sticky ticky. All rights reserved.</p>
        </div>
        <div class="col-lg-6 text-center text-lg-end">
          <ul class="list-inline footer-menu">
            <li class="list-inline-item m-0"><a [routerLink]="['/privacy']">Privacy Policy</a></li>
            <li class="list-inline-item m-0"><a [routerLink]="['/**']">404 Page</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
