<!-- banner start -->
<section class="section banner overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-11 mx-auto text-center position-relative">
          <h1 class="text-dark mb-0 " style="font-family: Ink free; "> 
            Welcome to <b>Sticky Ticky!</b> To place an order, simply type the names of the stickers you want into the <b>Place an Order</b> section 
            . You can find the sticker names at the bottom of the page. Every great idea deserves to stick around!
          </h1>
          
        </div>
      </div>
    </div>
  </section>
  <!-- banner end -->
